h3, h4{
    font-family: 'Jura', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}
h5, h6, p{
    font-family: 'Jura', sans-serif;
    font-weight: 300;
    
}

h1, h2 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    letter-spacing: 10px; 
    font-size: 40px;
}


body {
    background-image: linear-gradient(rgb(224, 127, 16), rgb(180, 10, 180));
}

/* button */

.button-2 {
    display: inline-block;
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 0px;
    padding: 5px 50px;
    text-transform:  uppercase;
    transition: 0.5s;
    background: linear-gradient(90deg, white 50% ,black 50%);
    background-size:  200%;
    background-position:  0px 0px;
    position: relative;
}
.button-2-icon{
    position: absolute;
    left: 16px;
}
.button-2:hover {
    background-position: -120% 0px;
    color: white;
    border: 1px solid black;
}
.button-2:hover .button-2-icon {
    color: black;
}

.btn-custom {
    --border-color: linear-gradient(-45deg, rgb(224, 127, 16), rgb(180, 10, 180), rgb(224, 127, 16));
    --border-width: .125em;
    --curve-size: .5em;
    --blur: 30px;
    --bg: #080312;
    --color: white;
    color: var(--color);
      /* use position: relative; so that BG is only for .btn */
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: .5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    clip-path: polygon(
              /* Top-left */
              0% var(--curve-size),
  
              var(--curve-size) 0,
              /* top-right */
              100% 0,
              100% calc(100% - var(--curve-size)),
  
              /* bottom-right 1 */
              calc(100% - var(--curve-size)) 100%,
              /* bottom-right 2 */
              0 100%);
    transition: color 250ms;
  }
  
  .btn::after,
  .btn::before {
    content: '';
    position: absolute;
    inset: 0;
  }
  
  .btn::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
  }
  
  @keyframes move-bg7234 {
    0% {
      background-position: 31% 0%
    }
  
    50% {
      background-position: 70% 100%
    }
  
    100% {
      background-position: 31% 0%
    }
  }
  
  .btn::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
              /* Top-left */
              var(--border-width) 
              calc(var(--curve-size) + var(--border-width) * .5),
  
              calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),
  
              /* top-right */
              calc(100% - var(--border-width)) 
              var(--border-width),
  
              calc(100% - var(--border-width)) 
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
  
              /* bottom-right 1 */
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
              /* bottom-right 2 */
              var(--border-width) calc(100% - var(--border-width)));
    transition: clip-path 500ms;
  }
  
  .btn:where(:hover, :focus)::after {
    clip-path: polygon(
                  /* Top-left */
                  calc(100% - var(--border-width)) 
  
                  calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      
                  calc(100% - var(--border-width))
  
                  var(--border-width),
      
                  /* top-right */
                  calc(100% - var(--border-width))
  
                   var(--border-width),
      
                  calc(100% - var(--border-width)) 
  
                  calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
      
                  /* bottom-right 1 */
                  calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                  calc(100% - var(--border-width)),
  
                  /* bottom-right 2 */
                  calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                  calc(100% - var(--border-width)));
    transition: 200ms;
  }
  
  .btn:where(:hover, :focus) {
    color: #fff;
  }


  .table {
    display: block;
    overflow-x: auto;
    
}