h3, h4{
    font-family: 'Jura', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}
h5, h6, p{
    font-family: 'Jura', sans-serif;
    font-weight: 300;
    
}

h1, h2 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    letter-spacing: 10px; 
    font-size: 40px;
}


body {
    background-image: linear-gradient(rgb(224, 127, 16), rgb(180, 10, 180));
}

/* button */

.button-2 {
    display: inline-block;
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 0px;
    padding: 5px 50px;
    text-transform:  uppercase;
    transition: 0.5s;
    background: linear-gradient(90deg, white 50% ,rgb(246, 133, 20) 50%);
    background-size:  200%;
    background-position:  0px 0px;
    position: relative;
}
.button-2-icon{
    position: absolute;
    left: 16px;
}
.button-2:hover {
    background-position: -120% 0px;
    color: black;
    border: 1px solid black;
}
.button-2:hover .button-2-icon {
    color: black;
}